.editorWrapper {
  padding: var(--mantine-spacing-xs) 0;
  min-height: 200px;
}

.editorWrapper :global(.ProseMirror) {
  outline: none;
  min-height: 200px;
}

.editorWrapper :global(.ProseMirror p.is-editor-empty:first-child::before) {
  content: attr(data-placeholder);
  float: left;
  color: light-dark(var(--mantine-color-gray-5), var(--mantine-color-dark-3));
  pointer-events: none;
  height: 0;
}
